.td-center-align {
  text-align: center;
}

.pagination-table {
  float: right;
  font-size: 20px;
  color: black;
  margin: 5px 40px 10px 0;
}

.pagination-table td  {
  padding: 7px;
}

.pagination-table td a {
  color: black;
}

.active-page {
  background-color: gray;
}

